<h1><%= t(:'forum.login') %></h1>

<% form_tag(session_path, :onsubmit => "LoginForm.checkOpenIDFormat();") do -%>

<div id="openid_fields">
<p>
  <label for="openid_url">使用星尚通行证登陆</label>
  <br />
  <%= text_field_tag 'openid_input', params[:openid_url], :class => "openid_input" %>
  <input type="hidden" name="openid_url" value="" id="openid_url">	
  
</p>
</div>

<p><label><%= check_box_tag "remember_me", "1", true %> <%= t(:'forum.remember_me') %></label></p>


<p><%= submit_tag t(:'forum.login'), :or => link_to_function('reset password'[], "$('reset-password').toggle();") %></p>
<% end -%>

<% form_tag users_path, :id => 'reset-password', :style => 'display:none' do -%>

<hr />

<h5><%= 'Reset Password'[] %></h5>

  <p><%= 'Enter your email, and a brand new login key will be sent to you.  Click the link in the email to log in, and then change your password.'[:email_directions] %></p>
  <p><%= text_field_tag :email, "", :size => 30 %>
<br />
<%= submit_tag 'E-mail me the link'[:email_submit], :or => link_to_function('cancel'[], "$('reset-password').hide()") %></p>
<% end -%>

<%= javascript_tag "$('openid_input').focus();"%>