<h1><%= t(:'forum.login') %></h1>

<% form_tag session_path do -%>
<p><%= label_tag 'login', t(:'forum.login') %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password', t(:'forum.password_title') %><br/>
<%= password_field_tag 'password', nil %></p>

<p><%= label_tag 'remember_me', t(:'forum.remember_me') %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>

<p><%= submit_tag t(:'forum.login') %></p>
<% end -%>
