<h3><%= t(:'forum.user_profile') %></h3>

<p>
  <label for="display_name"><%= t(:'forum.display_name_title') %></label><br />
  <%= settings.text_field :display_name %>
</p>

<p>
  <label for="user_openid_url"><%= t(:'forum.openid_url_title') %></label><br />
  <p class="help"><%= t(:'forum.open_id_field')%>.</p>
  <%= settings.text_field :openid_url %>
</p>

<p>
  <label for="user_website"><%= t(:'forum.website_title') %></label><br />
  <%= settings.text_field :website %> 
	<span class="entryhelp">
	(<%= t(:'forum.without_http') %>)
	</span>
</p>

<p>
  <label for="user_bio"><%= t(:'forum.bio_title') %></label><br />
  <%= settings.text_area :bio, :rows => 10, :style => "width:99%" %>
</p>
