<% @page_title = @user.display_name -%>

<% content_for :right do -%>
<% if admin? %>
<% if @user.active? && !@user.suspended? %>
  <% form_for @user.moderatorships.build do |f| -%>
    <h6><%= t(:'forum.admin_and_moderation') %></h6>

    <% unless @user.forums.empty? -%>

  	<p><%= t(:'forum.remove_moderated_forum') %></p>

    <ul class="flat">
    <% @user.forums.moderatable.each do |forum| -%>
      <li>
        <%= link_to forum.name, moderatorship_path(forum.moderatorship_id), :method => :delete, :confirm => "#{t(:'forum.remove_user_as_moderator')} #{forum.name}?" %>
      </li>
    <% end -%>
    </ul>
    <% end -%>

  	<% unless @user.available_forums.empty? -%>
    <p>
  	<label><%= t(:'forum.add_as_moderator') %></label><br />
  	<%= f.select :forum_id, @user.available_forums.collect { |forum| [forum.name, forum.id] }, :include_blank => " - " %>
  	</p>
    <p>
  		<%= f.submit t(:'forum.save_title') %>
  		<%= f.hidden_field :user_id %>
  	</p>
  	<% end -%>
  <% end -%>
  <p><label><%= t(:'forum.user_is_an_administrator') %></label></p>
  <p><%= link_to t(:'forum.suspend_user_account'), suspend_user_path(@user), :method => :put %></p>
<% else %>
  <p><%= t(:'forum.user_account_is_suspended') %> <%= link_to t(:'forum.unsuspend_user_account'), unsuspend_user_path(@user), :method => :put %></p>
  
<% end %>
<p><%= link_to t(:'forum.edit_user_account'), edit_user_path(@user) %></p>
<% end -%>
<% end -%>

<p style="float:right;"><%= avatar_for @user, 80 %></p> 

<h1><%=h @user.display_name %> </h1>

<p class="subtitle">
  <%= feed_icon_tag @user.display_name, formatted_user_posts_path(:user_id => @user, :format => :rss) %>
  <span>
    <%= t(:'forum.topic_count', :count => number_with_delimiter(@user.topics.size)) %>,
    <%= t(:'forum.post_count', :count => number_with_delimiter(@user.posts.size)) %>
    (<%= t(:'forum.view') %> <%= link_to t(:'forum.view_all'), user_posts_path(@user) %> | 
    <%= link_to t(:'forum.monitored'), "#" %> <%= t(:'forum.posts') %>)<br />
  </span>
</p>

<%= @user.bio_html %>

<% unless @user.website.blank? -%>
<p><strong><%= t(:'forum.website_title') %></strong> <%= sanitize link_to(@user.website.gsub("http://",""), "http://" + @user.website.gsub("http://","")) %>
<% end -%>
<p><%= t(:'forum.user_since') %> <%= l(@user.created_at, :format => "long") %></p>

