<div class="crumbs">
  <%= link_to t(:'forum.sites'), root_path %> <span class="arrow">&rarr;</span>
</div>

<h1><%= t(:'forum.new_site') %></h1>

<% form_for :site, :url => sites_path do |f| -%>
<p><%= t(:'forum.welcome_new_site') %></p>
<%= render :partial => "form", :object => f %>
<%= submit_tag t(:'forum.save_site'), :or => link_to(t(:'forum.cancel'), sites_path) %>
<% end -%>